.tiptap h1 {
    font-size: 2em !important;
    color: black !important;
}

.tiptap h2 {
    font-size: 1.5em !important;
    color: black !important;
}

.tiptap h3 {
    font-size: 1.17em !important;
    color: black !important;
}

.tiptap h4 {
    font-size: 1em !important;
    color: black !important;
}

.tiptap h5 {
    font-size: 0.83em !important;
    color: black !important;
}

.tiptap h6 {
    font-size: 0.67em !important;
    color: black !important;
}

.ProseMirror {
    list-style-position: inside !important;
    padding-left: 2em !important;
}
