.image-container {
    position: relative;
}

.overlay-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(186, 15, 15, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.overlay-image {
    z-index: 2;
}
